.container-image {
    height: 100vh;
}

.container-image .container-image-open {
    padding: 100px 40px 0;
    display: flex;
}

@media (max-width: 1100px) {
    .container-image .container-image-open {
        flex-direction: column;
        align-items: center;
    }

    .container-image .container-image-open .image {
        width: 100% !important;
        margin-bottom: 20px;
    }

}

@media (max-width: 500px) {

    .container-image .container-image-open {
        padding: 100px 20px
    }

    .container-image .container-image-open .info .author-info img {
        width: 40px !important;
    }

    .container-image .container-image-open .info .image-info * p {
        font-size: 10px !important;
    }
}

.container-image .container-image-open .image {
    width: 70%;
}

.container-image .container-image-open .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-image .container-image-open .info * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.container-image .container-image-open .info .line {
    display: flex;
    flex-direction: column;
}

.container-image .container-image-open .info .line::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c4c4c4;
}

.container-image .container-image-open .info .author-info {
    margin-bottom: 20px;
}

.container-image .container-image-open .info .author-info img {
    width: 50px;
    border-radius: 100%;
}

.container-image .container-image-open .info .image-info {
    margin: 20px;
}

.container-image .container-image-open .info .image-info * {
    background-color: #0084D1;
    color: #ffffff;
    box-sizing: initial;
    border-radius: 50px;
    padding: 2px 5px;
}

.container-image .container-image-open .info .image-info * p {
    margin: 0;
    font-size: 14px;
    font-weight: bolder;
}

.container-image .container-image-open .info .image-info * img {
    width: 15px;
    margin: 0;
}

.container-image .container-image-open .info .btn-download {
    background-color: #2EC66D;
    border: 0;
    padding: 15px 60px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50px;
    transition: all .2s;
    width: 300px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.container-image .container-image-open .info .btn-download:hover {
    cursor: pointer;
    background-color: rgb(38, 168, 92);
}