.container-image {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container-image .container-image-open {
    padding: 80px 40px 0;
    display: flex;
}

.container-image .container-image-open .image {
    max-width: 70vw;
}

.container-image .container-image-open .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-image .container-image-open .info * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 20px;
}

.container-image .container-image-open .info .author-info, .image-info {
    border-bottom: 1px solid #c4c4c4;
}

.container-image .container-image-open .info .author-info img {
    width: 50px;
    border-radius: 100%;
}